.quantitydropdown{
    width: 6rem;
    font-size: 2rem;
    padding-left: .5rem;
    margin-top: 1rem;
    cursor: pointer;
  }

  .sortdropdown{
      display: inline-block;
      margin-left: 1rem;
      cursor: pointer;
  }

  .quantitydropdownsmall{
      cursor: pointer;
      display: inline-block;
  }