@import './Variables.scss';

.register {
    //calculating height to stick footer to bottom
    height: calc(100vh - 175px);

    //if register is tall enough allow scroll for footer
    @media only screen and (max-height: 700px) {
        height: auto;
    }

    //calculating mobile height to stick footer to bottom
    @media only screen and (max-width: $bp-mobile) {
        height: calc(100vh - 240px);
    }

    //if mobile register is tall enough allow scroll for footer
    @media only screen and (max-height: 870px) and (max-width: $bp-mobile) {
        height: auto
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 60%;
        max-width: 50rem;
        margin: auto;
        position: relative;
        height: 60vh;
        justify-content: space-between;

        @media only screen and (max-width: $bp-mobile) {
            justify-content: space-evenly;
            height: auto;
        }

        //making register content auto fit
        @media only screen and (max-height: 870px) and (max-width: $bp-mobile) {
            height: auto
        }

        @media only screen and (max-height: 700px) {
            height: auto;
        }
    }

    &__img {
        margin: 2rem;

        //header image
        @media only screen and (max-width: $bp-mobile) {
            padding-top: 10rem;
        }

        @media only screen and (max-height: 870px) and (max-width: $bp-mobile) {
            padding-top: 2rem;
        }
    }

    &__text {
        font-size: 2rem;
        text-align: center;
    }

    &__instructions {
        padding-bottom: 1rem;
    }

    &__perks {
        font-size: 1.5rem;
        text-align: center;
    }

    &__inputbox {
        margin-top: 1rem;
        margin: 2rem;
        width: 100%;
    }

    &__inputflex{
        display: flex;
        justify-content: space-between;
    }

    &__inputsmall{
        width: 46%;
    }

    &__inputbig{
        width: 98%;
    }

    &__input {
        border: 1px solid black;
        border-radius: 5px;
        height: 4rem;
        margin-top: 1rem;
        padding-left: 2%;
    }

    &__button {
        width: 100%;
        border-radius: 5px;
        height: 4rem;
        position: relative;
        margin-top: 1rem;
        background-color: black;
        color: white;
        font-size: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    &__button:hover {
        background-color: #99BCFE;
    }

    &__back {
        font-size: 1rem;
        padding: 1rem;
        text-decoration: underline;
        position: absolute;
        cursor: pointer;
    }

    &__err{
        color: red;
        font-size: 1rem;
        content: "";
        padding-top: 1rem;
        display: inline-block;
    }
}

.loginroute {
    font-size: 1rem;
    text-decoration: underline;
    padding-top: 1rem;
    float: right;
    cursor: pointer;
    display: inline-block;
}